{{#if companyName}}
    <li>
        <a class="index-com-news-caption" href="/company/{{companyId}}.html">{{companyName}}</a><br>
        {{{caption}}}
    </li>
{{else}}
    {{#if brandUrl}}
        {{#if brandName}}
            <li>
                <a class="index-com-news-caption" href="/{{brandUrl}}">{{brandName}}</a><br>
                {{{caption}}}
            </li>
        {{/if}}
    {{/if}}
{{/if}}