{{#if company}}
    <li>
        <a class="index-com-news-caption" href="/company/{{companyUrl}}.html">{{companyName}}</a><br>
        {{{caption}}}
    </li>
{{else}}
    {{#if brandUrl}}
        <li>
            <a class="index-com-news-caption" href="/{{brandUrl}}">{{brand}}</a><br>
            {{{caption}}}
        </li>
    {{/if}}
{{/if}}