<!DOCTYPE html>
<html class="{{htmlClass}}">
    {{{head}}}
    <body>
        {{{adTop}}}
        <div class="spr container-t"></div>
        <div class="hgr container-c site-wrapper-mobile">
            {{{mobileMenuTrigger}}}
            {{{header}}}
            {{{mobileNav}}}
            {{{additionalNav}}}
            <div id="container" class="hgr wrapper-mobile">
                {{{brandsList}}}
                <script>new drv.Bnav;</script>
                {{{page}}}
                {{{footer}}}
            </div>
        </div>
        {{{sprContainer}}}
        {{{scripts}}}
    </body>
</html>